body {
  background-color: #b00b69;
}

a {
  background-color: purple;
  color: black;
}

a:hover {
  background-color: cyan;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: block;
  padding: .25em .5em;
}

table, th, td {
  border: 0.1em solid;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.25em;
}
